.todolist {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  & > li + li {
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(142, 148, 154);
  }
}
